body {
  background-image: url(images/dashBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  text-align: justify;
  color: black;
  font-weight: normal;
  font-size: 20px;
}

header {
  background-color: #FFFFFF;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  align-items: center;
  box-shadow: 0 0 20px 0 black;
  border-width: 10px;
  display: block;
  overflow: hidden;
}

header * {
  display: inline;
  vertical-align: middle;
}

nav li a img {
  margin-right: 5px;
}

.button {
  align-items: right;
  float: right;
}

.button:hover {
  box-shadow: 0 0 2px 0 black;
}

.active {
  color: #046E9A;
  font-weight: bold;
}

header li {
  margin: 50px;
}

header li a {
  text-decoration: none;
  font-weight: normal;
  font-size: 22px;
  vertical-align: bottom;
  color: black;
}

nav li a:hover {
  color: #046E9A;
  font-weight: bold;
}

#dash {
  width: 100%;
  margin: 0 auto;
}

#dash th div {
  font-size: 40px;
  font-weight: 800;
  margin-top: 0;
  vertical-align: top;
}

#material {
  text-align: justify;
  width: 700px;
  vertical-align: text-top;
  margin-top: 5px;
}

.material {
  background-color: #FFFFFF;
  background-size: cover;
  box-shadow: 0 0 5px 0 black;
  border-radius: 5px;
  border-width: 10px;
  border-color: black;
  font-size: 36px;
  font-weight: 400;
}

.material div {
  margin: 50px;
}

.files {
  width: 300px;
  height: 300px;
  background-color: #FFFFFF;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 black;
  vertical-align: top;
}

.files th {
  background-color: #2298CA;
  border-radius: 5px;
  border-width: 5px;
  text-align: center;
  height: 50px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 28px;
}

.files td {
  vertical-align: top;
}
