body{
    background-color: #F6F8F8;
    font-family: sans-serif;
    color: black;
}  

header {  
    background-color: #FFFFFF;  
    position: fixed;  
    left: 0;  
    right: 0;
    top: 0;  
    height: 80px;   
    align-items: center;  
    box-shadow: 0 0 20px 0 black; 
    border-width: 10px;
    display: block; 
    overflow: hidden;
}
header * {  
    display: inline;
}
nav li a img{
    vertical-align: middle;
    margin-right: 5px;
}
.button{
    align-items: right;
    float: right;
}  
.active{
    color: #046E9A;
    font-weight: bold;
}
header li {  
    margin: 50px;  
} 
header li a{   
    text-decoration: none;
    font-weight:normal;
    font-size: 22px; 
    vertical-align:bottom; 
}  
nav li a:hover{
    color: #046E9A;
    font-weight: bold;
}


.web1{
    overflow: hidden;
    display: inline;
    margin: 0px;
    width: 100%;
}
.web1 img{
    display: inline-block;
    vertical-align: middle;
}
#heading1{
    font-size: 48px;
    color: #046E9A;
    font-weight: bolder;
    text-align: center;
}
#text1{
    margin-left: 10%;
    font-size: 32px;
    font-weight:500;
    text-align: justify;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
}

.web2{
    background-image: url('C:/Users/RavenQueen/Desktop/Nishita/College/Tri-11/Capstone/Application Code/Images/Back2.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5%;
}
#about{
    background-color: rbga(255,255,255,0.8);
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
}
#heading2{
    font-size: 40px;
    font-weight: bolder;
}

#heading3{
    font-size: 40px;
    font-weight: bold;
    margin: 5%;
}

#heading4{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

footer{
    background-color: #2298CA;
    
}