body{
    background-color: #F6F8F8;
    font-family: sans-serif;
    color: black;
}  

header {  
    background-color: #FFFFFF;  
    position: fixed;  
    left: 0;  
    right: 0;
    top: 0;  
    height: 80px;   
    align-items: center;  
    box-shadow: 0 0 20px 0 black; 
    border-width: 10px;
    display: block; 
    overflow: hidden;
}
header * {  
    display: inline;
}
nav li a img{
    vertical-align: middle;
    margin-right: 5px;
}
.button{
    align-items: right;
    float: right;
}  
.active{
    color: #046E9A;
    font-weight: bold;
}
header li {  
    margin: 50px;  
} 
header li a{   
    text-decoration: none;
    font-weight:normal;
    font-size: 22px; 
    vertical-align:bottom;
    color: black; 
}  
nav li a:hover{
    color: #046E9A;
    font-weight: bold;
}


.web1{
    overflow: hidden;
    display: inline;
    margin: 0px;
    width: 100%;
}
.web1 img{
    display: inline-block;
    vertical-align: middle;
}
#heading1{
    font-size: 48px;
    color: #046E9A;
    font-weight: bolder;
    text-align: center;
}
#text1{
    margin-left: 10%;
    font-size: 32px;
    font-weight:500;
    text-align: justify;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
}

.web2{
    background: url("Images/Back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
}
#about{
    background-color: rgba(255,255,255,0.8);
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    width: 50%;
    height:fit-content;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 black;
}
#heading2{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
#thead{
    border-right:1px solid black;
    width: 40%;
}

#heading3{
    font-size: 40px;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;
}

#steps{
    align-items: center;
    width: 90%;
    height:fit-content;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    color: #FFFFFF;
}
#steps td{
    align-items: center;
    background-color: #2298CA;
    border-radius: 5px;
}
#steps td:hover{
    box-shadow: 0 0 20px 0 black;
}

#heading4{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

footer{
    margin-top: 5%;
    background-color: #2298CA;
    background-size: cover;
    height: fit-content;
    text-align: justify;
    font-size: 14px;
    font-weight: normal;
    color: black;
}
#foot{
    margin: 0 auto;
    width: 100%;
    vertical-align: bottom;
}
#link{
    float: right;
    margin-right: 5%;
    vertical-align: top;
}
.links ul{
    list-style-type: none;
    vertical-align: top;
}
.links ul li{
    margin-bottom: 30px;
    vertical-align: top;
}
.links ul a{ 
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
#icons{
    list-style-type: none;
    float:right;
    margin-right: 30px;
}
#icons li{
    display: inline-block;
    margin-right: 50px;
}